.customer-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 1rem 1rem;
  grid-template-areas:
    "header header header"
    "abn abn abn"
    "name name name"
    "address address city"
    "country state zip";

    h1{
      grid-area: header;
    }
}
