@import "../../variables";

.supplier-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
  gap: 1rem 1rem;
  grid-template-areas:
    "header header header header header"
    "businessId businessId businessId businessId logo"
    "name name name name logo"
    "address address address city logo"
    "country country state zip empty"
    "email email phone phone empty";

  h1 {
    grid-area: header;
  }
}

